body {
  color: white;
  font-family: "Lucida Console", "Courier New", monospace !important;
}
video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1; /* Ensure the video is behind other elements */
}
.navv {
  background-color: rgb(0, 0, 0, 0.6) !important;
}
.container-fluid,
.navbar-brand,
.navbar-nav,
.nav-item,
.nav-link {
  color: white !important;
}

.card {
  background-color: rgb(0, 0, 0, 0.3) !important;
  color: white !important;
  border: 2px solid white !important;
}
.card-header {
  background-color: white !important;
  color: black !important;
}

.btn {
  border: 2px solid white !important;
  background-color: rgb(0, 0, 0, 0.8) !important;
}

.typing-container {
  display: flex !important;
  height: 60vh !important;
}
.no-scroll-pre {
  white-space: pre-wrap !important; /* Preserve whitespace and line breaks */
  word-wrap: break-word !important; /* Break long words */
  overflow-x: hidden !important; /* Hide horizontal overflow */
}
